# ANOVA â€“ Super Simple Introduction

- [Tutorial](https://www.spss-tutorials.com/anova-what-is-it/)

---

# Find
- [ ] mean of each group
- [ ] variance of each group
- [ ] plot mean of each group (matplotlib maybe)
---

In [1]:
import numpy as np
import pandas as pd

# Import Data

1. Organize Data

In [2]:
def load_data(dataset):

    original_data = pd.read_csv(dataset)
    copy_of_data = original_data.copy()
    return copy_of_data

In [3]:
path_to_dataset = "/Users/brinkley97/Documents/development/lab-information_sciences_institute/spss_dataset/One-Way ANOVA Calculation.csv"
data = load_data(path_to_dataset)

In [4]:
data

,Group,Score,Group Mean,Mean,GM - M,Squares Between,Score - GM,Squares Within,Count Groups,Count Observations
0,1,90,99.2,101.7,-2.5,6.25,-9.2,84.64,3,30
1,1,87,99.2,101.7,-2.5,6.25,-12.2,148.84,3,30
2,1,93,99.2,101.7,-2.5,6.25,-6.2,38.44,3,30
3,1,115,99.2,101.7,-2.5,6.25,15.8,249.64,3,30
4,1,97,99.2,101.7,-2.5,6.25,-2.2,4.84,3,30
5,1,85,99.2,101.7,-2.5,6.25,-14.2,201.64,3,30
6,1,102,99.2,101.7,-2.5,6.25,2.8,7.84,3,30
7,1,110,99.2,101.7,-2.5,6.25,10.8,116.64,3,30
8,1,111,99.2,101.7,-2.5,6.25,11.8,139.24,3,30
9,1,102,99.2,101.7,-2.5,6.25,2.8,7.84,3,30
10,2,135,112.6,101.7,10.9,118.81,22.4,501.76,3,30
11,2,125,112.6,101.7,10.9,118.81,12.4,153.76,3,30
12,2,107,112.6,101.7,10.9,118.81,-5.6,31.36,3,30
13,2,96,112.6,101.7,10.9,118.81,-16.6,275.56,3,30
14,2,114,112.6,101.7,10.9,118.81,1.4,1.96,3,30
15,2,125,112.6,101.7,10.9,118.81,12.4,153.76,3,30
16,2,94,112.6,101.7,10.9,118.81,-18.6,345.96,3,30
17,2,123,112.6,101.7,10.9,118.81,10.4,108.16,3,30
18,2,111,112.6,101.7,10.9,118.81,-1.6,2.56,3,30
19,2,96,112.6,101.7,10.9,118.81,-16.6,275.56,3,30
20,3,93,93.3,101.7,-8.4,70.56,-0.3,0.09,3,30
21,3,101,93.3,101.7,-8.4,70.56,7.7,59.29,3,30
22,3,74,93.3,101.7,-8.4,70.56,-19.3,372.49,3,30
23,3,87,93.3,101.7,-8.4,70.56,-6.3,39.69,3,30
24,3,76,93.3,101.7,-8.4,70.56,-17.3,299.29,3,30
25,3,87,93.3,101.7,-8.4,70.56,-6.3,39.69,3,30
26,3,98,93.3,101.7,-8.4,70.56,4.7,22.09,3,30
27,3,108,93.3,101.7,-8.4,70.56,14.7,216.09,3,30
28,3,113,93.3,101.7,-8.4,70.56,19.7,388.09,3,30
29,3,96,93.3,101.7,-8.4,70.56,2.7,7.29,3,30

## Organizing Data

- [x] Drop unneeded columns
- [ ] Create new columns with groups

In [51]:
drop_columns = ["Group Mean", "Mean", "GM - M", "Squares Between", "Score - GM", "Squares Within", "Count Groups", "Count Observations"]
group_and_scores_only = data.drop(columns=drop_columns)

In [52]:
group_and_scores_only

    Group  Score
0       1     90
1       1     87
2       1     93
3       1    115
4       1     97
5       1     85
6       1    102
7       1    110
8       1    111
9       1    102
10      2    135
11      2    125
12      2    107
13      2     96
14      2    114
15      2    125
16      2     94
17      2    123
18      2    111
19      2     96
20      3     93
21      3    101
22      3     74
23      3     87
24      3     76
25      3     87
26      3     98
27      3    108
28      3    113
29      3     96

In [53]:
def value_to_col(data, new_cols):
    
    '''
    Get unique groups
    '''
    
    unique_values = data["Group"].value_counts()
    # print("unique_values : ", unique_values)
    
    unique_values_keys = unique_values.keys()
    # print("\nunique_values_keys : ", unique_values_keys)
    
    '''
    Drop "Group" column
    '''
    
    update_group_col = data.pop("Group")
    # print(remove_group_col)
    
    '''
    Set new cols
    '''
    new_col_1 = new_cols[0]
    new_col_2 = new_cols[1]
    new_col_3 = new_cols[2]
    
    '''
    Reconstruct with new cols
    '''
    
    data[new_col_1] = (update_group_col == unique_values_keys[0]) * data["Score"]
    data[new_col_2] = (update_group_col == unique_values_keys[1]) * data["Score"]
    data[new_col_3] = (update_group_col == unique_values_keys[2]) * data["Score"]
    
    
    return data

In [54]:
groups = ["1", "2", "3"]

In [55]:
value_to_col(group_and_scores_only, groups)

    Score    1    2    3
0      90    0    0   90
1      87    0    0   87
2      93    0    0   93
3     115    0    0  115
4      97    0    0   97
5      85    0    0   85
6     102    0    0  102
7     110    0    0  110
8     111    0    0  111
9     102    0    0  102
10    135    0  135    0
11    125    0  125    0
12    107    0  107    0
13     96    0   96    0
14    114    0  114    0
15    125    0  125    0
16     94    0   94    0
17    123    0  123    0
18    111    0  111    0
19     96    0   96    0
20     93   93    0    0
21    101  101    0    0
22     74   74    0    0
23     87   87    0    0
24     76   76    0    0
25     87   87    0    0
26     98   98    0    0
27    108  108    0    0
28    113  113    0    0
29     96   96    0    0

In [ ]:
def mean_of_each_group(data):
    
    return mean