# Analysis of Heart Rate Estimation Dataset

In [1]:
import pandas as pd
import numpy as np

## Load Data

In [20]:
def load_data(data):
    
    original_data = pd.read_fwf(data)
    return original_data

In [93]:
subject = "subject"
subject_id = range(101, 110)
file_type = ".dat"
subjects = []
for id in subject_id:
    # print(id)
    participant = subject + str(id) + file_type
    subjects.append(participant)
# print(tuple(subjects))

path = "../../2-pre_autoTS_and_wings_analysis/physical_activity/PAMAP2_Dataset/Protocol/"
data_path = []
for subject in range(len(subjects)):
    file = subjects[subject]
    data_path.append(path + file)

data_path

['../../2-pre_autoTS_and_wings_analysis/physical_activity/PAMAP2_Dataset/Protocol/subject101.dat',
 '../../2-pre_autoTS_and_wings_analysis/physical_activity/PAMAP2_Dataset/Protocol/subject102.dat',
 '../../2-pre_autoTS_and_wings_analysis/physical_activity/PAMAP2_Dataset/Protocol/subject103.dat',
 '../../2-pre_autoTS_and_wings_analysis/physical_activity/PAMAP2_Dataset/Protocol/subject104.dat',
 '../../2-pre_autoTS_and_wings_analysis/physical_activity/PAMAP2_Dataset/Protocol/subject105.dat',
 '../../2-pre_autoTS_and_wings_analysis/physical_activity/PAMAP2_Dataset/Protocol/subject106.dat',
 '../../2-pre_autoTS_and_wings_analysis/physical_activity/PAMAP2_Dataset/Protocol/subject107.dat',
 '../../2-pre_autoTS_and_wings_analysis/physical_activity/PAMAP2_Dataset/Protocol/subject108.dat',
 '../../2-pre_autoTS_and_wings_analysis/physical_activity/PAMAP2_Dataset/Protocol/subject109.dat']

In [3]:
data_path[0]

In [99]:
data_rows = []
rows = open(data_path[0])
for row in rows:
    data_rows += [row.split()]
len(data_rows), data_rows
columns=["Timestamp(s)", "Activity ID", "Heart Rate"]
subject_1 = pd.DataFrame(data_rows)
subject_1

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,8.38,0,104,30,2.37223,8.60074,3.51048,2.43954,8.76165,3.35465,...,0.00830026,0.00925038,-0.0175803,-61.1888,-38.9599,-58.1438,1,0,0,0
1,8.39,0,NaN,30,2.18837,8.5656,3.66179,2.39494,8.55081,3.64207,...,-0.00657665,-0.00463778,0.00036825,-59.8479,-38.8919,-58.5253,1,0,0,0
2,8.4,0,NaN,30,2.37357,8.60107,3.54898,2.30514,8.53644,3.7328,...,0.00301426,0.000148236,0.022495,-60.7361,-39.4138,-58.3999,1,0,0,0
3,8.41,0,NaN,30,2.07473,8.52853,3.66021,2.33528,8.53622,3.73277,...,0.00317498,-0.0203009,0.0112754,-60.4091,-38.7635,-58.3956,1,0,0,0
4,8.42,0,NaN,30,2.22936,8.83122,3.7,2.23055,8.59741,3.76295,...,0.0126977,-0.0143027,-0.00282262,-61.5199,-39.3879,-58.2694,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376412,3772.5,0,NaN,30.5,2.02477,7.29553,5.74194,2.06573,6.57692,5.92695,...,0.0487446,-0.00803401,0.0186,-58.8381,-36.2397,-11.098,1,0,0,0
376413,3772.51,0,NaN,30.5,2.10836,7.86504,5.85674,2.08754,7.42244,5.87977,...,0.0421133,0.0246469,0.0133748,-58.9537,-36.3379,-11.717,1,0,0,0
376414,3772.52,0,NaN,30.5,2.07163,8.39581,5.77742,2.13833,8.0564,5.90853,...,-0.0148889,0.0260086,0.0250537,-59.1781,-35.8985,-10.9678,1,0,0,0
376415,3772.53,0,NaN,30.5,2.19569,8.77634,6.00892,2.11251,8.53989,5.9377,...,0.0470257,-0.0355311,0.0246395,-58.8299,-36.6845,-10.8553,1,0,0,0
376416,3772.54,0,NaN,30.5,2.14774,8.66047,5.73918,2.1581,8.59995,5.92242,...,0.0425849,0.0175412,-0.0378935,-59.1707,-36.7731,-11.5961,1,0,0,0

## End of Load Data

In [ ]:
a_path[0]

In [ ]:
data_path

In [ ]:
measurements = []
for sub_data in range(len(data_path)):
    get_file = data_path[sub_data]
    print("get_file : ", sub_data, get_file)
    open_file = open(get_file, "r")
    
    if sub_data == 0:
        read_file = open_file.read()
        print(read_file)