# VOO

- Source: [Vanguard 500 Index Fund (VOO)](https://finance.yahoo.com/quote/VOO/history?p=VOO)

# Imports + Load Data

In [1]:
import pandas as pd

In [2]:
BASE = '/Users/brinkley97/Documents/development/'
DATASETS = 'applied_time_series_and_machine_learning/datasets/yahoo_finance/'

In [3]:
VOO_DAILY_FILE = BASE + DATASETS + 'VOO_DAILY_06-02-23_TO_06-06-22.csv'

In [4]:
def load_data(file):
    
    original_data = pd.read_csv(file)
    copy_of_data = original_data.copy()
    
    return copy_of_data

# Preprocessing

## Multivariate Time Series of VOO

In [5]:
voo_daily_df = load_data(VOO_DAILY_FILE)
voo_daily_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-06-06,381.329987,382.959991,377.410004,378.470001,371.954468,2659500
1,2022-06-07,375.160004,382.609985,374.709991,382.170013,375.590790,2649900
2,2022-06-08,380.500000,382.230011,377.260010,377.989990,371.482727,3436400
3,2022-06-09,376.239990,378.440002,369.019989,369.100006,362.745789,3022000
4,2022-06-10,362.929993,363.690002,358.230011,358.269989,352.102234,7629700
...,...,...,...,...,...,...,...
245,2023-05-26,381.640015,386.570007,381.540009,385.869995,385.869995,3042800
246,2023-05-30,387.760010,388.260010,384.760010,385.989990,385.989990,3968500
247,2023-05-31,384.309998,385.160004,382.420013,383.890015,383.890015,4205300
248,2023-06-01,384.200012,388.570007,382.970001,387.570007,387.570007,3563600
249,2023-06-02,390.079987,393.959991,389.540009,393.260010,393.260010,7365800

## Univariate Time Series of VOO

In [6]:
open_train_df = voo_daily_df.loc[:, 'Open']
open_train_df

0      381.329987
1      375.160004
2      380.500000
3      376.239990
4      362.929993
          ...
245    381.640015
246    387.760010
247    384.309998
248    384.200012
249    390.079987
Name: Open, Length: 250, dtype: float64

In [8]:
PATH_TO_BOOK = 'book-intro_to_tsf_with_python/'
TS_AS_SML_FILE = BASE + PATH_TO_BOOK + '3-timeSeriesAsSupervisedLearning.ipynb'

In [9]:
# %load TS_AS_SML_FILE
# /Users/brinkley97/Documents/development/book-intro_to_tsf_with_python/3-timeSeriesAsSupervisedLearning.ipynb

In [10]:
%run $TS_AS_SML_FILE

Input Univariate Time Series:
[ 1  2  3  4  5  6  7  8  9 10]
X of size (10,)

Univariate Time Series as Supervised Machine Learning:
[1 2 3] 4
[2 3 4] 5
[3 4 5] 6
[4 5 6] 7
[5 6 7] 8
[6 7 8] 9
[7 8 9] 10
X of size (7, 3)
y of size (7,)
     0    0    0   0
0  NaN  NaN  NaN   1
1  NaN  NaN  1.0   2
2  NaN  1.0  2.0   3
3  1.0  2.0  3.0   4
4  2.0  3.0  4.0   5
5  3.0  4.0  5.0   6
6  4.0  5.0  6.0   7
7  5.0  6.0  7.0   8
8  6.0  7.0  8.0   9
9  7.0  8.0  9.0  10
Input Univariate Time Series:
[10, 20, 30, 40, 50, 60, 70, 80, 90]
X of size (9,)

Univariate Time Series as Supervised Machine Learning:
X_train:
     t-3   t-2   t-1
3  10.0  20.0  30.0
4  20.0  30.0  40.0
5  30.0  40.0  50.0
6  40.0  50.0  60.0
7  50.0  60.0  70.0
8  60.0  70.0  80.0
y_train:
     t
3  40
4  50
5  60
6  70
7  80
8  90

In [11]:
MLP_FILE = BASE + PATH_TO_BOOK + 'mlpUnivariateModel.ipynb'

In [12]:
%run $MLP_FILE

2023-06-06 10:05:46.077843: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Input Univariate Time Series:
[ 1  2  3  4  5  6  7  8  9 10]
X of size (10,)

Univariate Time Series as Supervised Machine Learning:
[1 2 3] 4
[2 3 4] 5
[3 4 5] 6
[4 5 6] 7
[5 6 7] 8
[6 7 8] 9
[7 8 9] 10
X of size (7, 3)
y of size (7,)
     0    0    0   0
0  NaN  NaN  NaN   1
1  NaN  NaN  1.0   2
2  NaN  1.0  2.0   3
3  1.0  2.0  3.0   4
4  2.0  3.0  4.0   5
5  3.0  4.0  5.0   6
6  4.0  5.0  6.0   7
7  5.0  6.0  7.0   8
8  6.0  7.0  8.0   9
9  7.0  8.0  9.0  10
Input Univariate Time Series:
[10, 20, 30, 40, 50, 60, 70, 80, 90]
X of size (9,)

Univariate Time Series as Supervised Machine Learning:
X_train:
     t-3   t-2   t-1
3  10.0  20.0  30.0
4  20.0  30.0  40.0
5  30.0  40.0  50.0
6  40.0  50.0  60.0
7  50.0  60.0  70.0
8  60.0  70.0  80.0
y_train:
     t
3  40
4  50
5  60
6  70
7  80
8  90
Input Univariate Time Series:
[10, 20, 30, 40, 50, 60, 70, 80, 90]
X of size (9,)

Univariate Time Series as Supervised Machine Learning:
X_train:
     t-3   t-2   t-1
3  10.0  20.0  30.0
4  20.0  30.0  40.0
5  30.0  40.0  50.0
6  40.0  50.0  60.0
7  50.0  60.0  70.0
8  60.0  70.0  80.0
y_train:
     t
3  40
4  50
5  60
6  70
7  80
8  90
X_train: [[10. 20. 30.]
 [20. 30. 40.]
 [30. 40. 50.]
 [40. 50. 60.]
 [50. 60. 70.]
 [60. 70. 80.]]
y_train [[40]
 [50]
 [60]
 [70]
 [80]
 [90]]

2023-06-06 10:05:48.894495: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

TRUE Y LABEL =  [100]
PREDICTED =  [100.18921661376953]
ERROR =  0.18921661376953125

In [19]:
univariate_time_series = open_train_df.values
# univariate_time_series = np.flip(univariate_time_series)
# univariate_time_series

## Univariate Time Series of VOO to Supervised Machine Learning

### Split Data

In [20]:
prior_observations, forecasting_step = [3, 1]
X_train_df, y_train_df, X_y_df = convert_uts_sequence_to_sml_with_pd(univariate_time_series, prior_observations, forecasting_step)

Input Univariate Time Series:
[381.329987 375.160004 380.5      376.23999  362.929993 349.109985
 346.369995 346.820007 340.480011 337.309998 343.190002 342.079987
 347.630005 352.029999 361.       360.079987 350.429993 345.880005
 346.160004 345.480011 351.230011 354.01001  355.910004 354.839996
 352.600006 344.73999  343.410004 351.730011 356.970001 354.950012
 360.700012 362.359985 366.690002 363.839996 362.119995 362.48999
 369.420013 374.730011 376.119995 376.109985 377.190002 380.880005
 376.649994 381.779999 379.019989 384.98999  388.869995 387.950012
 390.48999  393.23999  391.559998 392.420013 390.700012 383.429993
 379.559998 378.899994 381.76001  385.549988 369.769989 371.299988
 367.609985 361.100006 367.950012 361.359985 358.859985 363.380005
 370.23999  375.820007 369.339996 362.579987 361.160004 354.559998
 352.799988 355.380005 356.380005 347.549988 342.079987 338.230011
 339.790009 334.799988 337.149994 332.570007 331.790009 342.140015
 343.119995 345.179993 339.079987 334.470001 329.200012 329.149994
 320.839996 338.619995 334.570007 344.679993 339.040009 338.170013
 335.5      345.450012 348.049988 350.700012 352.049988 349.040009
 355.160004 358.529999 352.779999 341.339996 346.410004 347.059998
 350.209991 349.079987 356.519989 363.690002 364.570007 368.649994
 364.700012 358.799988 365.459991 362.769989 364.51001  367.209991
 369.390015 366.859985 363.929993 363.450012 375.869995 369.660004
 371.279999 367.089996 361.049988 363.130005 363.       362.279999
 377.109985 369.100006 362.470001 355.649994 354.130005 348.450012
 352.200012 351.980011 348.929993 351.76001  350.420013 348.910004
 349.790009 353.179993 352.100006 350.730011 351.589996 358.730011
 355.839996 360.410004 364.480011 361.679993 366.190002 366.670013
 357.76001  358.450012 364.51001  366.570007 363.779999 370.459991
 370.890015 370.149994 368.609985 372.440002 381.25     378.230011
 376.579987 375.790009 379.690002 380.970001 373.       375.649994
 377.959991 377.149994 375.660004 373.179993 370.399994 367.179993
 369.070007 363.309998 367.48999  365.01001  363.339996 360.809998
 367.290009 372.26001  371.630005 366.109985 367.350006 359.329987
 350.76001  358.880005 354.459991 355.540009 362.76001  360.470001
 366.420013 367.779999 364.480011 359.980011 365.730011 363.540009
 367.399994 371.230011 371.779999 375.600006 378.190002 374.709991
 373.670013 373.549988 376.899994 378.399994 375.910004 379.269989
 378.839996 381.839996 378.730011 377.779999 378.679993 378.480011
 377.179993 373.660004 373.890015 378.040009 381.730011 381.059998
 377.910004 373.839996 375.73999  379.410004 377.709991 380.279999
 378.470001 379.850006 378.73999  378.390015 378.850006 381.26001
 386.019989 384.660004 383.190002 378.910004 380.98999  381.640015
 387.76001  384.309998 384.200012 390.079987]
X of size (250,)

Univariate Time Series as Supervised Machine Learning:
X_train:
             t-3         t-2         t-1
3    381.329987  375.160004  380.500000
4    375.160004  380.500000  376.239990
5    380.500000  376.239990  362.929993
6    376.239990  362.929993  349.109985
7    362.929993  349.109985  346.369995
..          ...         ...         ...
245  383.190002  378.910004  380.989990
246  378.910004  380.989990  381.640015
247  380.989990  381.640015  387.760010
248  381.640015  387.760010  384.309998
249  387.760010  384.309998  384.200012

[247 rows x 3 columns]
y_train:
               t
3    376.239990
4    362.929993
5    349.109985
6    346.369995
7    346.820007
..          ...
245  381.640015
246  387.760010
247  384.309998
248  384.200012
249  390.079987

[247 rows x 1 columns]

In [21]:
X_train = X_train_df.values
# print("X_train:", X_train.shape, X_train)
y_train = y_train_df.values
# print("y_train", y_train.shape, y_train)

In [22]:
x_input = X_y_df.iloc[-1, 1:].values
x_input

array([384.309998, 384.200012, 390.079987])

In [25]:
ytrue = [393.54]

# Univariate Model

In [26]:
univariate_mlp_model(X_train, y_train, x_input, ytrue)

TRUE Y LABEL =  [393.54]
PREDICTED =  [388.7157287597656]
ERROR =  4.8242712402343955

4.8242712402343955