# T-Test

In [2]:
import numpy as np

In [4]:
data = np.array([
                [1, 2, 2, 3, 3, 4, 4, 5, 5, 6],
                [1, 2, 4, 5, 5, 5, 6, 6, 7, 9]
                ])
data

array([[1, 2, 2, 3, 3, 4, 4, 5, 5, 6],
       [1, 2, 4, 5, 5, 5, 6, 6, 7, 9]])

In [141]:
sum_of_groups = []
square_sum_groups = []
mean_values = []
square_values = []
sum_squares_values = []
def t_test_analysis(groups):
    
    for group in range(len(groups)):
        sum_each_group = np.sum(groups[group])
        print("sum_each_group : ", sum_each_group)
        sum_of_groups.append(sum_each_group)

        square_sum_of_each_group = np.square(sum_each_group)
        print("square_sum_of_each_group : ", square_sum_of_each_group)
        square_sum_groups.append(square_sum_of_each_group)
        print("square_sum_groups : ", square_sum_groups)
        
        mean = sum_each_group / len(groups[group])
        print("mean : ", mean)
        mean_values.append(mean)
        print("mean_values : ", mean_values)
        
        square_each_value = np.square(groups[group])
        print("square_each_value : ", square_each_value)
        square_values.append(square_each_value)
        print("square_values : ", square_values)
        
        sum_squares = np.sum(square_each_value)
        print("sum_squares : ", sum_squares)
        sum_squares_values.append(sum_squares)
        print("sum_squares_values : ", sum_squares_values)
        
        print("\n")
    

    t_numerator = np.subtract(mean_values[0], mean_values[1])
    print("t_numerator : ", t_numerator)

    t_denominator_divide = np.divide(square_sum_groups, groups.shape[1])
    print("t_denominator_divide : ", t_denominator_divide)

    t_denominator_sum = np.sum(np.subtract(sum_squares_values, t_denominator_divide))
    print("t_denominator_sum : ", t_denominator_sum)
    
    t_demoninator_dof = np.subtract(np.add(groups.shape[1], groups.shape[1]), groups.shape[0])
    print("t_demoninator_dof : ", t_demoninator_dof)
    
    t_denominator_sum_dof = t_denominator_sum / t_demoninator_dof
    print("t_denominator_sum_dof : ", t_denominator_sum_dof)
    
    t_denominator_sqrt = np.sqrt(t_denominator_sum_dof)
    print("t_denominator_sqrt : ", t_denominator_sqrt)
    
    t_denominator = np.multiply(t_denominator_sum_dof, (2/10))
    print("t_denominator : ", t_denominator)
    
    t = t_numerator / np.sqrt(t_denominator)
    return t

In [142]:
t_test_analysis(data)

sum_each_group :  35
square_sum_of_each_group :  1225
square_sum_groups :  [1225]
mean :  3.5
mean_values :  [3.5]
square_each_value :  [ 1  4  4  9  9 16 16 25 25 36]
square_values :  [array([ 1,  4,  4,  9,  9, 16, 16, 25, 25, 36])]
sum_squares :  145
sum_squares_values :  [145]


sum_each_group :  50
square_sum_of_each_group :  2500
square_sum_groups :  [1225, 2500]
mean :  5.0
mean_values :  [3.5, 5.0]
square_each_value :  [ 1  4 16 25 25 25 36 36 49 81]
square_values :  [array([ 1,  4,  4,  9,  9, 16, 16, 25, 25, 36]), array([ 1,  4, 16, 25, 25, 25, 36, 36, 49, 81])]
sum_squares :  298
sum_squares_values :  [145, 298]


t_numerator :  -1.5
t_denominator_divide :  [122.5 250. ]
t_denominator_sum :  70.5
t_demoninator_dof :  18
t_denominator_sum_dof :  3.9166666666666665
t_denominator_sqrt :  1.9790570145063195
t_denominator :  0.7833333333333333

-1.6947980485980962