# Main

In [6]:
import pandas as pd

/Users/brinkley97/opt/anaconda3/envs/tiles_day_night/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

In [7]:
file = "/Users/brinkley97/Documents/development/lab-information_sciences_institute/datasets/tiles_dataset/nurse_data.csv"

In [8]:
def load_data(file):
    original_data = pd.read_csv(file)
    # original_data = pd.DataFrame(file)
    copy_of_data = original_data.copy()
    return copy_of_data

In [9]:
copy_data = load_data(file)
copy_data

,MitreID,participant_id,abs,vocab,gats_Status,gats_Quantity,gats_Quantity_Sub,audit,psqi,ipaq,...,SmartPhone,Gender,Shift,Wave,DropoutDate,Age,Educ,job,native_lang,PSQI
0,SG1025,02581754-36cd-4b23-85ea-bf995c6dec83,15,29,current,6.0,6.0,7.0,7.0,26308.0,...,iPhone,Male,Night shift,2,NaN,< 40 Years,Some college or College,nurse,Yes,PSQI >= 7
1,SD1003,02b7a595-6508-46bd-8239-6deb433d6290,17,35,never,0.0,NaN,1.0,7.0,9522.0,...,Android,Female,Day shift,1,NaN,< 40 Years,Some college or College,nurse,Yes,PSQI >= 7
2,SG1033,05dedb61-63bc-44e3-8e28-a5d32d91f7e9,20,40,past,0.0,NaN,1.0,9.0,943.0,...,iPhone,Male,Night shift,2,NaN,>= 40 Years,Some college or College,nurse,No,PSQI >= 7
3,SG1005,06b33ec4-706d-462f-a681-05491be38eb3,16,31,never,0.0,NaN,1.0,4.0,5682.0,...,Android,Male,Night shift,1,NaN,>= 40 Years,Graduate,nurse,No,PSQI < 7
4,SY1004,0adb7679-9d26-46e7-a134-11da293910f3,15,36,never,0.0,NaN,0.0,4.0,8533.0,...,Android,Male,Day shift,1,NaN,>= 40 Years,Some college or College,nurse,Yes,PSQI < 7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,SD1068,f610ffea-f6cb-4182-bbe7-19ff8fbe66ee,20,33,never,0.0,NaN,1.0,10.0,3145.5,...,iPhone,Female,Day shift,2,NaN,< 40 Years,Some college or College,nurse,Yes,PSQI >= 7
109,SD1099,f732e878-e538-49b8-97d3-49ca29e9a3f8,13,33,never,0.0,NaN,1.0,5.0,6475.5,...,iPhone,Female,Day shift,3,NaN,>= 40 Years,Some college or College,nurse,No,PSQI < 7
110,SD1129,fabef151-53c8-4a46-9897-0180868a53f5,14,33,past,0.0,NaN,1.0,7.0,15100.5,...,Android,Male,Day shift,3,NaN,>= 40 Years,Some college or College,nurse,No,PSQI >= 7
111,SY1006,fae38580-1e2d-4491-9de5-7b75703ba4ce,15,35,never,0.0,NaN,5.0,9.0,15908.0,...,Android,Male,Day shift,1,NaN,< 40 Years,Some college or College,nurse,Yes,PSQI >= 7
112,SD1015,fcb14a4c-1ffa-4315-872a-a38833459885,17,30,never,0.0,NaN,0.0,4.0,NaN,...,iPhone,Female,Day shift,1,NaN,>= 40 Years,Some college or College,nurse,Yes,PSQI < 7

In [10]:
def fisher_odds_p_value(first_df, second_df, demo, demo_option1, demo_option2, print_col):
    tabel_df = pd.DataFrame(index=['day', 'night'], columns=[demo_option1, demo_option2])
    tabel_df.loc['day', demo_option1] = len(first_df.loc[first_df[demo] == demo_option1])
    tabel_df.loc['day', demo_option2] = len(first_df.loc[first_df[demo] == demo_option2])
    tabel_df.loc['night', demo_option1] = len(second_df.loc[second_df[demo] == demo_option1])
    tabel_df.loc['night', demo_option2] = len(second_df.loc[second_df[demo] == demo_option2])
    oddsratio, pvalue = stats.fisher_exact(np.array(tabel_df))
    print(tabel_df)
    # print()
    
    return 'oddsratio : %.3f, pvalue: %.3f \n' % (oddsratio, pvalue)

In [ ]:
path_to_vars = '/Users/brinkley97/Documents/development/lab-information_sciences_institute/time_series_basics/replace_variables/mainReplaceVariables.ipynb'